// Style for comment are

.comments-area {
	.comments-title {
		font-size: 1.3em;
	}
	ol.comment-list {
		margin: 0 0 1em;
		padding: 0;
		list-style-type: none;
		text-indent: 0;
		li {
		}
		li.alt {
		}
		li.bypostauthor {
		}
		li.byuser {
		}
		li.comment-author-admin {
		}
		li.comment {
			padding: 1em 0 0 1em;
			margin-bottom: 10px;
			&.depth-1 {
				padding-bottom: .5em;
				padding-right: 1em;
				border-left: 3px solid #ddd;
				&:nth-child(even) {
					background-color: #fafafa;
				}
			}
			&:not(.depth-1) {
				.comment-body {
					.reply {
						display: none;
					}
				}
			}
			.comment-body {
				position: relative;
				.comment-author {
					cite.fn {
						font-weight: 600;
						font-size: 18px;
						text-transform: capitalize;
						font-style: normal;
					}
					span.says {
						display: none;
					}
					img.avatar {
						float: left;
						margin: 0 20px 10px 0;
						border: 3px solid #ccc;
						border-radius: 50%;
					}
					img.avatar-32 {
					}
					img.photo {
					}
				}
				.comment-meta {
					a {
						font-size: 12px;
						color: #ccc;
					}
				}
				p {
					clear: both;
				}
				ul {
					margin: 0 0 0 20px;
					list-style: none;
					font-size: em(12);
				}
				.reply {
					position: absolute;
					top: 0;
					right: 0;
					a {
						font-weight: 500
					}
				}
			}
			ol.children {
				padding-left: 0;
				margin-left: 1em;
				list-style-type: none;
				text-indent: 0;
				li {
					border-left: 2px solid #eee;
				}
				// end li
				li.alt {
				}
				li.bypostauthor {
				}
				li.byuser {
				}
				li.comment {
				}
				li.comment-author-admin {
				}
				//li.depth-2 {
				//	margin-left: 10px;
				//	border-left: 3px solid #ccc;
				//}
				//li.depth-3 {
				//	margin-left: 10px;
				//	border-left: 3px solid #bbb;
				//}
				//li.depth-4 {
				//	margin-left: 10px;
				//	border-left: 5px solid #aaa;
				//}
				//li.depth-5 {
				//}
				// you get the idea
				li.odd {
				}
				// end .odd
			}
		}
	}

	#respond {
		padding-top: 1rem;
		.comment-notes {
			span#email-notes {
				display: block;
				line-height: 1.5;
				font-size: 1.1em;
				font-weight: 300;
			}
		}
		.comment-reply-title {
			font-size: 1.3em;
		}
		form {
			border-left: 3px solid #ddd;
			padding-left: 1rem;
			label {
				font-weight: 400;
				font-size: 1.25rem;
				margin-bottom: 0;
			}
			input[type=text], textarea {
				width: 100%;
				padding: 12px 20px;
				margin: 8px 0;
				display: inline-block;
				border: 1px solid #ccc;
				border-radius: .3rem;
				box-sizing: border-box;
				font-size: 1.25rem;
				color: #495057;
			}
			textarea {
				height: 150px;
			}
		}
	}
}