// Style for sidebar

.card {
	&.widget-item {
		padding: .8rem;
		.card-header {
			background: transparent;
			font-weight: 400;
			border-bottom: none;
			padding: 0;
			margin-bottom: .5rem;
			&:first-letter {
				border-bottom: 1px solid $primary;
			}
		}
		ul {
			padding-left: 0;
			list-style: none;
			margin-bottom: 0;
		}
	}
}