// Variables

// Restated Bootstrap Variables

$white: #ffffff !default;
$gray-100: #e4e5e6 !default;
$gray-200: #c7cacd !default;
$gray-300: #acb0b4 !default;
$gray-400: #8f959b !default;
$gray-500: #727a82 !default;
$gray-600: #596169 !default;
$gray-700: #414950 !default;
$gray-800: #2b3137 !default;
$gray-900: #151a1e !default;
$black: #000000 !default;

$dark: #343a40 !default;
$light: #f8f9fa !default;

$primary: #cd5e30 !default;

$error_color: #721c24 !default;
$error_bg: #f8d7da !default;
$error_border: #f5c6cb !default;